@import '../../style/base/index.scss';
.card__left, .card__right {
  flex: 50%;
}
.card__middle {
  width: 1px;
  height: rem750(100);
  background: $bg-base;
  transform: scaleX(.5);
}
.card__right {
  padding-left: rem750(30);
  box-sizing: border-box;
}
.card--hint {
  font-size: $font-20;
  text-align: center;
  height: rem750(20);
}
.card__box--btn {
  height: rem750(100);
  font-size: $font-30;
  @include _flex(center,center);
}

