//color
$bg-base: #fff;
$bg-black: #000;
$bg-1: #2e2d56;
$bg-2: #6163b1;
$bg-4: #ccc;
$bd-b2: #b2b2b2;
$bg-d8: #d8d8d8;
$bg-mask: rgba(0,0,0,.3);


$text-base: #fff;
$text-black: #000;
$text-1: #ff9b30;
$text-b2: #b2b2b2;
$text-f4: #f4f4f4;


//font-size
$font-40: rem750(40);
$font-36: rem750(36);
$font-34: rem750(34);
$font-32: rem750(32);
$font-30: rem750(30);
$font-28: rem750(28);
$font-24: rem750(24);
$font-20: rem750(20);


// z-index
$z-9999: 9999;
$z-9: 9;
