@import '../../style/base/index.scss';
.picker__mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $z-9999;
  background: rgba(0,0,0,.3);
}
.picker-electric{
  width: 100%;
  background: $bg-base;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.picker__tool {
  height: 100%;
  color: $text-black;
  @include _flex(space-between, center);
  position: relative;
}
.picker__tool:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #eaeaea;
  display: block;
  z-index: 15;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.picker__tool--btn{
  height: 100%;
  width: rem750(100);
  @include _flex(center, center);
}
