.canvas__box
  width: 600px;
  height: 500px;
.tool__container 
  display: flex;
.tool__item 
  width: 60px
  height: 40px
  background: #ccc;
  font-size: 14px;
  color: #0f0;
  display: flex;
  justify-content: center;
  align-items: center;