@import '../../style/base/index.scss';
#file {
  display: none;
}
.img__box {
  width: rem750(550);
  height: rem750(350);
  border-radius: rem750(20);
  margin: 0 auto;
  background: #ccc;
}
.img__btn {
  display: block;
  width: 100%;
  height: 100%;
}
